.login-container {
    width: 50%;
    margin: auto;
}

.card-container {
    margin-top: 80px;
    text-align: center;
}

.card-container .login-button {
    background-color: #008562;
    width: 100%
}

@media(max-width:1000px) {
    .login-container {
        width: 90%;
        margin: auto;
    }
}